@{
    ViewBag.Title = "Главная";
}
<div id="content">
    <img src="@Url.Content("~/Content/images/oduvanchikHome.jpg")" width="726" height="546" alt="" title="">
    <div class="featured">
        <div class="header">
            <ul>
                <li class="first">
                    <!--<p>hi.</p> -->
                    <img src="@Url.Content("~/Content/images/hi.jpg")" width="50" height="62" alt="" title="">
                </li>
                <li class="last">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis diam urna, malesuada in porttitor eget, suscipit sit amet 
                    </p>
                </li>
            </ul>
        </div>
        <div class="body">

            <p>
                This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
            </p>

            <p>
                You can remove any link to our website from this <a href="http://www.freewebsitetemplates.com/">website template</a>, you're free to use this website 
            </p>
        </div>
    </div>
</div>
